.toDo-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(207, 204, 204, 0.3);
}

.toDo-form-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: red;
}
