.toDo-list {
  width: 20rem;
  height: 100%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(207, 204, 204, 0.3);
}

.toDo-list-title {
  font-size: 2rem;
  margin-bottom: 5px;
}
